.wrapper-content {
  padding: 16px;
}

.img img {
  height: 200px;
  width: 200px;
}

.form-content {
  width: 400px;
}

.form-custom {
  padding: 1rem;
}

.label-custom {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.6rem;
}

.btn-submit-form-contact {
  padding: 8px 16px;
  font-size: 1.4rem;
}
