
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap');

  
  html {
    color: #333;
    font-family: "Open Sans", sans-serif;
  }
  .theme-background{
    padding: 90px 0;
    background: url('../images/special.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 50%;
    position: relative;
}
  .main {
    background: #fff;
    min-height: 100vh;
    
    /* display: flex; */
    justify-content: center;
  }
  #form-1{
    display: none;
    margin-top: 45px;
  }

  #form-3{
    display: none;
  }

  .form {
    width: 100%;
    min-height: 100px;
    padding: 32px 24px;
    background: #fff;
    border-radius: 2px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  }
  .form .heading {
    text-align: center;
    font-size: 2.2rem;
  }
  .form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
  }
  
  .form-label,
  .form-message {
    text-align: left;
  }
  
  .form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.6rem;
  }
  
  .form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.8rem;
  }
  
  .form-control:hover {
    border-color: var(--text-color);
  }
  
  .form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }
  
  .form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
  }
  
  .form-submit {
    outline: none;
    background-color: var(--text-color);
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 50%;
    font-size: 1.6rem;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .form-submit:hover {
    background-color: var(--main-color);
  }

  .form-recovery{
    font-size: 1.6rem;
    color: blue;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration:underline;
    cursor: pointer;
  }
  
  .form-transfer{
    font-size: 1.6rem;
    margin-left: 80px;
    text-decoration:underline;
    cursor: pointer;
  }
  .form-transfer:hover{
    color: var(--text-color)
  }
  .spacer {
    margin-top: 36px;
  }

/* BANNER */
.login-banner{
  position:relative;
  height: 545px;
  overflow: hidden;
}
.login-banner:hover .login-img,
.login-banner:hover .login-banner__text{
  transform:scale(1.1)
}
.login-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: .2s ease-in;
  box-shadow: 2px 2px 5px 0 rgb(51 62 73 / 10%);
}
.login-banner__text{
  position: absolute;
  display: flex;
  flex-direction: column;
  color: rgb(248, 238, 178);
  top: 25px;
  left: 55px;
  transition: .2s ease-in;

}
.login-banner__text span:nth-child(1){
    font-size:3rem;
    line-height:1.6;
    margin-bottom: 20px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}
.login-banner__text span:nth-child(2){
  font-style: italic;
  font-family: 'Playfair Display', serif;
  font-size:3rem;
  margin-left: 160px;
}
.login-sale{
  position: absolute;
  bottom: 31px;
  right: -32px;
  font-size:3.5rem;
  font-style: italic;
  width: 310px;
  height: 50px;
  color: #fff;
  background-color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(330deg);
}

.login-border1{
  position: absolute;
  width: 108px;
  height: 54px;
  background-color: #fff;
  bottom: -8px;
  left: -37px;
  transform: rotate(45deg);
}
.login-border2{
  position: absolute;
    width: 116px;
    height: 54px;
    background-color: #fff;
    top: -12px;
    right: -36px;
    transform: rotate(225deg);
}