body {  
    background: #F1F3FA;
}

.img-responesive{
    border-radius: 100px;
    display: block;
    max-width: 100%;
    position: relative;
    left: 25%;
    cursor: pointer;
}

.menu1{
    color: #5b9bd1;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.profile {  margin: 20px 0;}

.profile-sidebar {  
    padding: 20px 0 10px 0;  
    background: #fff;
}

.profile-userpic img {  
    float: none;  
    /* margin: 0 auto;   */
    margin: 0 110px 0 110px;
    width: 50%;  
    height: 50%;  
    -webkit-border-radius: 50% !important;  
    -moz-border-radius: 50% !important;  
    border-radius: 50% !important;
}


.profile-usertitle {  
    text-align: center;  
    margin-top: 20px;
}


.profile-usertitle-name {  
    color: #5a7391;  
    font-size: 16px;  
    font-weight: 600;  
    margin-bottom: 7px;
}


.profile-usertitle-job {  
    text-transform: uppercase;  
    color: #5b9bd1;  
    font-size: 12px;  
    font-weight: 600;  
    margin-bottom: 15px;
}


.profile-userbuttons {  
    text-align: center;  
    margin-top: 10px;
}


.profile-userbuttons .btn {  
    text-transform: uppercase;  
    font-size: 11px;  
    font-weight: 600;  
    padding: 6px 15px;  
    margin-right: 5px;
}


.profile-userbuttons .btn:last-child {  
    margin-right: 0px;
}    
.profile-usermenu {  
    margin-top: 30px;
}

.profile-usermenu ul li {  
    border-bottom: 1px solid #f0f4f7;
}


.profile-usermenu ul li:last-child {  
    border-bottom: none;
}

.profile-usermenu ul li a {  
    color: #93a3b5;  
    font-size: 14px;  
    font-weight: 400;
}


.profile-usermenu ul li a i {  
    margin-right: 8px;  
    font-size: 14px;
}  

.profile-usermenu ul li a:hover {  
    background-color: #fafcfd;  
    color: #5b9bd1;
}


.profile-usermenu ul li.active {  
    border-bottom: none;
}


.profile-usermenu ul li.active a {  
    color: #5b9bd1;  
    background-color: #f6f9fb;  
    margin-left: -2px;
}


.profile-content {  
    padding:0px 20px;  
    background: #fff;  
    min-height: 460px;
}  

.profile-sub{
    font-size: 16px;
    margin-top: 3px;
}

.profile-header{
    padding: 15px;
    border-bottom: 1px solid #f0f4f7 ;
}

.profile-detail{
    margin: 30px auto;
    font-size: 16px;
    font-weight: 200;
}

.detail{
    display: inline-block;
    width: 130px;
    margin:0px 20px;
}

.detail-infor{
    width: 70%;
}

.check{
    display: inline;
    margin-right: 10px;
}

.check1{
    margin-right: 5px;
}

.btn1{
    display: block;
    margin:0px 20px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    width: 100px;
    padding: 10px;   
    transition: background-color 0s, color 0s;
}

.btn1:hover{
    background-color: grey;
    color: #fff;
}

.psw-change1{
    display: none;
}

.btn-color{
    background-color: #5b9bd1;
    color: #fff;
}